.main-board-panel {
  width: 250px;
  height: 250px;
  border: solid;
  border-radius: 5px;
  border-width: 10px;
}


.tile {
  width: 29%;
  height: 29%;
  border: solid;
  border-radius: 2px;
  border-width: 5px;
  border-color: rgb(211,211,211);
  float:left;
   display:inline;
}

.selected-tile {
  width: 29%;
  height: 29%;
  border: solid;
  border-radius: 2px;
  border-width: 5px;
  border-color: rgb(223, 22, 22);
  float:left;
   display:inline;

}

.turn-tracker {
  width: 80%;
  height: 100px;
  border: solid;
  border-radius: 5px;
  border-width: 3px;
  margin: 10px;
  
}

.player-turn-icon {
  height: 90px;
  width: 90px;
  
}

.turn-tracker-component {
    float:left;
   display:inline;
   margin: 10px;
}