<div *ngIf="checkForWinner(0)">
<p>
Player 0 wins!
</p>
</div>
<div *ngIf="checkForWinner(1)">
<p>
Player 1 wins!
</p>
</div>
<p>
<button (click)="newGame()">New Game</button>
</p>
<div>
  <p>Player {{userTurn}}'s Turn</p>
</div>
<div class="main-board-panel">
  <tile [selected]="isSelected[0]" [content]="boardContent[0]"></tile>
  <tile [selected]="isSelected[1]" [content]="boardContent[1]"></tile>
  <tile [selected]="isSelected[2]" [content]="boardContent[2]"></tile>
  <tile [selected]="isSelected[3]" [content]="boardContent[3]"></tile>
  <tile [selected]="isSelected[4]" [content]="boardContent[4]"></tile>
  <tile [selected]="isSelected[5]" [content]="boardContent[5]"></tile>
  <tile [selected]="isSelected[6]" [content]="boardContent[6]"></tile>
  <tile [selected]="isSelected[7]" [content]="boardContent[7]"></tile>
  <tile [selected]="isSelected[8]" [content]="boardContent[8]"></tile>

</div>